@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("backgroound.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


nav {
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.8);
}

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

.logo span {
  color: rgb(109, 67, 0);
  text-shadow: 0 0 10px rgb(109, 67, 0);
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: 0.3s linear;
}

.nav-links a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(109, 67, 0);
  transition: 0.2s linear;
}

.nav-links a:hover::before {
  width: 100%;
}

.hamburgh {
  cursor: pointer;
  font-size: 2rem;
  color: black;
  display: none; 
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image{
    z-index: -1;
    width: 50%;
}
.main-container .image img{
    width: 100%;
}
.main-container .content{
    color: black;
    width: 40%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}
.content h1 span{
    color: rgb(109,67, 0);
    text-shadow: 0 0 10px rgb(109,67, 0);
}
.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}
.content .typewriter span{
    color: rgb(109,67, 0);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(109,67, 0);
    position: relative;
    transition: 0.3s linear;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: 0.2rem solid rgb(109,67, 0);
    border-radius: 50%;
    color:rgb(109,67, 0);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    color: white;
    background-color: rgb(109,67, 0);
    filter: drop-shadow(0 0 10px rgb(109,67,0));
}
.content button{
    width: 40%;
    height: 6vh;
    margin: 30px;
    background-color: rgb(109,67, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
 scale: 1.1;
 color: rgb(109,67, 0);
 border: 2px solid rgb(109,67, 0);
 background-color: transparent;
 font-weight: 700;
 box-shadow: 0 0 40px rgb(109,67, 0);
}


.about-box {
  max-width: 1000px;
  margin: 50px auto;
  padding: 50px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #eddddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.about-box h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  color: rgb(109, 67, 0);
}

.about-box p {
  font-size: 1.1rem;
  line-height: 1.6;
}
